<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA-1SYBk0SMdo7iR3i-zF15JBqguUp126M</string>
	<key>GCM_SENDER_ID</key>
	<string>175496429174</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>fr.moodflix.mobile.stg</string>
	<key>PROJECT_ID</key>
	<string>moodflix-stage</string>
	<key>STORAGE_BUCKET</key>
	<string>moodflix-stage.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:175496429174:ios:4d8195438611483de72957</string>
</dict>
</plist>